<div class="bg-white rounded-lg shadow p-6">
  <h3 class="text-lg font-semibold text-gray-900 mb-4">Spending Over Time</h3>
  <div class="relative h-64">
    <canvas data-controller="chart"
            data-chart-type-value="line"
            data-chart-data-value="<%= @spending_over_time_data.to_json %>"
            data-chart-options-value='{"responsive":true,"maintainAspectRatio":false,"plugins":{"legend":{"display":true,"position":"top"},"tooltip":{"mode":"index","intersect":false}},"scales":{"y":{"beginAtZero":true}}}'>
    </canvas>
  </div>
</div>

