---
http_interactions:
- request:
    method: get
    uri: https://api.up.com.au/api/v1/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <UP_BANK_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"401","title":"Not Authorized","detail":"The request
        was not authenticated because no valid credential was found in the Authorization
        header, or the Authorization header was not present."}]}'
  recorded_at: Mon, 01 Dec 2025 03:46:29 GMT
recorded_with: VCR 6.3.1
