<% if notice.present? || alert.present? %>
  <div id="flash-messages" class="fixed top-20 right-4 z-50 space-y-2">
    <% if notice.present? %>
      <%= render 'shared/toast', type: 'success', message: notice, id: 'flash-notice' %>
    <% end %>
    
    <% if alert.present? %>
      <%= render 'shared/toast', type: 'error', message: alert, id: 'flash-alert' %>
    <% end %>
  </div>
<% end %>

