<div class="bg-white dark:bg-gray-800 rounded-lg shadow animate-pulse">
  <div class="p-4 border-b dark:border-gray-700">
    <div class="h-6 bg-gray-200 rounded dark:bg-gray-700 w-1/4"></div>
  </div>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <% 5.times do %>
      <div class="p-4">
        <div class="flex justify-between items-center mb-2">
          <div class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-1/3"></div>
          <div class="h-4 bg-gray-200 rounded dark:bg-gray-700 w-1/4"></div>
        </div>
        <div class="h-3 bg-gray-200 rounded dark:bg-gray-700 w-2/3"></div>
      </div>
    <% end %>
  </div>
</div>

