<%= turbo_frame_tag "recurring-category-select-frame" do %>
  <select name="recurring_category" id="recurring-category-select" 
          data-recurring-modal-target="categorySelect"
          data-action="change->recurring-modal#toggleCustomCategory"
          class="w-full px-4 py-3 border-2 border-neutral-200 dark:border-neutral-600 bg-neutral-50 dark:bg-primary-900 text-neutral-base rounded-lg focus-ring-success transition-all">
    <option value="">None</option>
    <% @categories.each do |category| %>
      <option value="<%= category %>"><%= category.humanize %></option>
    <% end %>
    <option value="other">Other</option>
  </select>
<% end %>

