<h1>Projects</h1>

<%= link_to "New Project", new_project_path %>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project %>
      <% if project.owner == current_user %>
        <span>(Owner)</span>
      <% end %>
    </li>
  <% end %>
</ul>

