<% if request.headers["Turbo-Frame"] == "planned-transaction-form" %>
  <%= turbo_frame_tag "planned-transaction-form" do %>
    <%= render "planned_transactions/form" %>
  <% end %>
<% else %>
  <h1>Edit Planned Transaction</h1>
  <%= render "planned_transactions/form" %>
  <%= link_to "Back to Planned Transaction", @planned_transaction %>
<% end %>

